# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\luv2code\projekts\MVC-crud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
